{% extends 'base.html' %}
{% block title %} Users List {% endblock %}
{% block content %}
<h1>Add New User</h1>
<form action="/users/new" method="POST" class="row gy-2 gx-3 align-items-center">
    <input type="text" name="first_name" placeholder="First Name">
    <input type="text" name="last_name" placeholder="Last Name">
    <input type="url" name="image_url" placeholder="Image URL">
    <button class="btn btn-success">Submit User</button>
    <button formaction="/users" formmethod="GET" class="btn btn-dark">Go Back</button>
</form>

{% endblock %}