{% extends 'base.html' %}
{% block title %} User Post{% endblock %}
{% block content %}

<h1>{{post.title}}</h1>

<p>{{post.content}}</p>
<p>Author: {{post.user.first_name}} {{post.user.last_name}}</p>
<p>Created: {{post.created}}</p>
<form>
    <button formaction="/posts/{{post.id}}/edit" formmethod="GET" class="btn btn-primary">
        Edit
    </button>
    <button formaction="/posts/{{post.id}}/delete" formmethod="POST" class="btn btn-danger">
        Delete
    </button>
    <button formaction="/users/{{post.user.id}}" formmethod=" GET" class="btn btn-dark">Cancel</button>
</form>



{% endblock %}