{% extends 'base.html' %}
{% block title %} User Post{% endblock %}
{% block content %}

<h1>{{post.title}}</h1>

<p>{{post.content}}</p>
<p>Author: {{post.user.first_name}} {{post.user.last_name}}</p>
<p>Created: {{post.created}}</p>
<form>
    <button formaction="/posts/{{post.id}}/edit" formmethod="GET">
        Edit
    </button>
    <button formaction="/posts/{{post.id}}/delete" formmethod="POST">
        Delete
    </button>
    <button formaction="/user/{{user_id}}" formmethod="GET">Cancel</button>
</form>



{% endblock %}