.image_url {
  height: 100px;
  width: 100px;
}

.img_container {
  display: inline-block;
  border: 1px solid black;
  margin: 1rem;
  text-align: left;
}

.user_buttons_container {
  display: inline-block;
  padding: 1rem;
  vertical-align: middle;
}

form input {
  text-align: center;
}
