{% extends 'base.html' %}
{% block title %} Tag Form {% endblock %}
{% block content %}
<h1>Add New Tag</h1>
<form action="/tags/new" method="POST" class="row gy-2 gx-3 align-items-center">
    <div class="list-group-item">

        <input type="text" name="tag_name" placeholder="Tag Name">


    </div>
    <div>
        <button class="btn btn-success">Submit New Tag</button>
        <button formaction="/tags" formmethod="GET" class="btn btn-dark">Go Back</button>
    </div>

</form>

{% endblock %}